<!-- sidebar.html -->
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <a class="navbar-brand me-lg-5" href="/">
        <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Volt logo" />
        <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Volt logo" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  </nav>
  
  <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <!-- Sidebar Links -->
        <ul class="nav flex-column pt-3 pt-md-0">
            {% comment %} <!-- Dashboard Link -->
            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="/dashboard.html" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li> {% endcomment %}
  
            <!-- My Tracker Link -->
            <li class="nav-item {% if 'my-tracker' in segment %} active {% endif %}">
                <a href="/my-tracker/" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 3a1 1 0 011 1v3h8V4a1 1 0 112 0v3h2a1 1 0 110 2h-2v4a1 1 0 11-2 0v-4H6v4a1 1 0 11-2 0v-4H2a1 1 0 110-2h2V4a1 1 0 011-1z" />
                        </svg>
                    </span>
                    <span class="sidebar-text">My Trackers</span>
                </a>
            </li>
  
            <!-- Trackers Dropdown with Arrow Indicator -->
            <li class="nav-item {% if 'trackers' in segment %} active {% endif %}">
                <a href="#trackersMenu" class="nav-link dropdown-toggle" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="trackersMenu">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2C5.58 2 2 5.58 2 10s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm-1 11h2v2h-2zm0-5h2v3h-2z"/>
                        </svg>
                    </span>
                    <span class="sidebar-text">Trackers</span>
                    <span class="dropdown-arrow ms-auto">
                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </a>
                <ul id="trackersMenu" class="nav flex-column collapse">
                    {% for tracker in predefined_trackers %}
                        <li class="nav-item">
                            <!-- Pass tracker name and tracker URL as query parameters -->
                            <a href="/tracker/?tracker_name={{ tracker.tracker_name }}&tracker_url={{ tracker.url }}" class="nav-link">
                                {{ tracker.tracker_name }}
                            </a>
                        </li>
                    {% empty %}
                        <li class="nav-item">
                            <span class="nav-link">No trackers available</span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
  
  
            <!-- Settings Link -->
            <li class="nav-item {% if 'settings' in segment %} active {% endif %}">
                <a href="/settings/" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106-.54-.886-.061-2.042.947-2.287 1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 010-2.978z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Settings</span>
                </a>
            </li>
        </ul>
    </div>
  </nav>